@media screen and (max-width: 1200px) {
            .nav-bar{
                // background: transparent !important;
                position: initial !important;
                height: auto !important;
                min-height: max-content !important;
                ul, nav{
                    z-index: 2;
                }
                nav{
                    // background-color: #19191a;
                    display: block;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    position: fixed;
                    /* z-index: 2; */
                    margin: 0;
                }
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                a::after{
                    opacity: 1;
                    position: initial;
                    width: auto;
                    margin-left: 10px;
                }
            }
        }